/*
font-family: 'Dosis', sans-serif;
font-family: 'Questrial', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Poppins', sans-serif;
*/
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track {
    background: transparent; 
  }
::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgba(44, 153, 255, 0.829) 0%,rgba(91, 230, 255, 0.739) 100%);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    transition: 300ms;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(180deg, rgba(39, 131, 218, 0.829) 0%,rgba(74, 192, 212, 0.739) 100%);
}   
#content #intro {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: url(../../assets/wallpaper-blur.png);
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#content #intro .logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#content #intro img {
    display: inline;
    height: max(50px, 5vw);
    /* width: 4vw; */
    animation: headerImage 1.5s ;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 0;
    background-color: #34333a4d;
    border-radius: 30px 0 0 0;
    cursor: pointer;
}
#content #intro h1 {
    text-align: center;
    margin: auto;
    font-size: max(2em, 3vw);
    color: #fff3d0;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 5px 15px;
    border-radius: 40px;
    background: linear-gradient(90deg, rgba(52,51,58,0.2329306722689075) 0%, rgba(146, 146, 209, 0.286) 51%, rgba(213,213,213,0.26934523809523814) 100%);
}
#content #content-text {
    margin: 0 10%;
}
#content .apresentation {
    height: auto;
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #34333a8c;
}
#content .consideration {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
#content .consideration a {
    text-decoration: none;
    color: #34333a;
}
#content .consideration .consideration-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
#content .consideration .consideration-box img{
    width: max(15vw, 130px);
    height: max(15vw, 130px);

    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 5px #34333a;
    margin-left: 20px;
}
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects .grid-item {
    max-height: 650px;
    min-height: 390px;
    margin-top: 12vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        'texto image'
        'texto2 image'
        'texto2 image';
    gap: 10px;
}
.projects .grid-item2 {
    max-height: 650px;
    min-height: 390px;
    margin-top: 12vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        'image texto'
        'image texto2'
        'image texto2';
    gap: 10px;
}
.projects h2 {
    margin: auto 0;
    text-align: center;
    grid-area: texto;
    font-family: 'Rubik', sans-serif;
    color: #34333a;
    font-size: max(19px, 2vw);
}
.projects h3 {
    grid-area: texto2;
    font-family: 'Rubik', sans-serif;
    text-align: justify;
}
.projects h3 strong {
    color: #a5a5a5;
}
.projects .grid-img {
    display: flex;
    align-items: center;
    grid-area: image;
}
.projects img {
    width: 100%;
    text-align: center;
}
footer {
    width: 100%;
    height: 10vh;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #bebebe;
}
footer .cop {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../../assets/wallpaper-blur.png);   
    background-position: top;
    background-attachment: fixed;
    color: #fff3d0;
    font-family: 'Titillium Web', sans-serif;
}
footer .cop a {
    color: #a8ebff;
    text-decoration: none;
    outline: none;
}

@media (max-width: 1100px) {
    .projects .grid-item,
    .projects .grid-item2 {
        max-height: 390px;
        min-height: 300px;
    }
}
@media (max-width: 850px) {
    .projects .grid-item,
    .projects .grid-item2 {
        margin-top: 5vh;
    }
    .projects .grid-item,
    .projects .grid-item2 {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 490px){
    #content #intro h1{
        font-size: 1.5rem;
        padding: 0 10px;
    }
    h4{
        padding: 0 10px;
        text-align: center;
    }
    #content #intro h1{
        white-space: initial;
        animation: headerImage 1s ease-out;
        text-align: center;
    }
    #content .apresentation{
        margin-top: 60px;
    }
    #content .consideration h1{
        text-align: center;
    }
    #content .consideration{
        min-height: 80vh
    }
    #content .consideration .consideration-box{
        flex-direction: column;
    }
    #content .consideration .consideration-box img{
        margin-top: 30px;
    }
    #content .consideration h1{
        text-align: center;
    }
}   
@media (max-width: 300px) {
    .projects .grid-item,
    .projects .grid-item2 {
        max-height: 480px;
    }
    #content .consideration{
        min-height: 100vh;
    }
}
@media (max-width: 230px){
    #content .consideration{
        min-height: 125vh;
    }
    .projects .grid-item,
    .projects .grid-item2 {
        max-height: 580px;
    }
}

@keyframes background {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes headerImage {
    from {
        transform: translateY(-30%);
    }
    to {
        transform: translateY(0%);
    }
}
