/*
font-family: 'Dosis', sans-serif;
font-family: 'Questrial', sans-serif;
font-family: 'Rubik', sans-serif;
*/

.is-visible{
    background-color: aqua;
}
#content #intro {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url(../../assets/background-svg.svg);
}
#content #intro img {
    display: inline;
    height: 8vh;
    /* width: 4vw; */
    animation: headerImage 1.5s ;
}
#content #intro h1 {
    animation: typing 1.5s steps(27), blink-caret 0.5s infinite;
    overflow: hidden;
    border-right: 3px solid #727080;
    white-space: nowrap;
    margin: auto;
    font-size: 2.2em;
    max-width: 15em;
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 20ch;
    }
}
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: #727080;
    }
}

#content #content-text {
    margin: 0 10%;
}
#content .apresentation {
    height: auto;
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
#content .consideration {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#content .consideration a {
    text-decoration: none;
    color: #34333a;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects .grid-item {
    max-height: 650px;
    margin-top: 12vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        'texto image'
        'texto2 image'
        'texto2 image';
    gap: 10px;
}
.projects .grid-item2 {
    max-height: 650px;
    margin-top: 12vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        'image texto'
        'image texto2'
        'image texto2';
    gap: 10px;
}
.projects h2 {
    margin: auto 0;
    text-align: center;
    grid-area: texto;
    font-family: 'Rubik', sans-serif;
    color: #34333a;
    font-size: max(19px, 2vw);
}
.projects h3 {
    grid-area: texto2;
    font-family: 'Rubik', sans-serif;
    text-align: justify;
}
.projects h3 strong {
    color: #a5a5a5;
}
.projects .grid-img {
    display: flex;
    align-items: center;
    grid-area: image;
}
.projects img {
    width: 100%;
    text-align: center;
}
footer {
    width: 100%;
    height: 10vh;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #bebebe;
}
footer .cop {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../../assets/background-svg.svg);
    color: #34333a;
    font-size: 0.7rem;
    font-family: 'Titillium Web', sans-serif;
}
footer .cop a {
    color: #34333a;
    text-decoration: none;
    outline: none;
}

@media (max-width: 1100px) {
    .projects .grid-item,
    .projects .grid-item2 {
        max-height: 370px;
        min-height: 300px;
    }
}
@media (max-width: 850px) {
    .projects .grid-item,
    .projects .grid-item2 {
        margin-top: 5vh;
    }
    .projects .grid-item,
    .projects .grid-item2 {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 490px){
    h4{
        font-size: 1.2em;
    }
    #content #intro h1{
        white-space: initial;
        animation: headerImage 1s ease-out;
        text-align: center;
    }
    #content .consideration{
        min-height: 80vh
    }
}   
@media (max-width: 290px) {
    .projects .grid-item,
    .projects .grid-item2 {
        max-height: 480px;
    }
    #content .consideration{
        min-height: 100vh;
    }
}
@media (max-width: 230px){
    #content .consideration{
        min-height: 125vh;
    }
    .projects .grid-item,
    .projects .grid-item2 {
        max-height: 580px;
    }
}

@keyframes background {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes headerImage {
    from {
        transform: translateY(-30%);
    }
    to {
        transform: translateY(0%);
    }
}
