@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --dark-blue:#0e2031;
    --white-smoke: #f8f8f8;
}
::selection{
    color: #e7e7e7;
    background-color: #0e2031;
}
::-moz-selection{
    color: #e7e7e7;
    background-color: #0e2031;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    color: var(--dark-blue);
    background-color: var(--white-smoke);
    scroll-behavior: smooth;
}
#container{
    width: 100%;
    height: auto;
}
/*boots*/
.max{
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
}
.btn{
    text-decoration: none;
    background-color: var(--dark-blue);
    color: white;
    box-shadow: 0 0 2px var(--dark-blue);
    font-size: 1rem;
    font-weight: 300;
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    transition: 200ms;
}
.btn:hover{
    border: 1px solid var(--dark-blue);
    background-color: rgba(255, 255, 255, 0);
    text-shadow: 0 0 2px var(--dark-blue);
    color: var(--dark-blue);
    transform: scale(1.05, 1.05);
}
