header{
    width: 100%;
    height: 90px;
    background-color: var(--dark-blue);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
header .max{
    height: 100%;
}
header .desktop{
    height: 100%;
}
header .mobile{
    display: none;
}
nav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a .fas{
    color: white;
    font-size: 3rem;
}
header a{
    cursor: pointer;
}
header a .fa-bars{
    margin-right: 5px;
    color: white;
    font-size: 2rem;
}
header a .fa-bars:active{
    animation: icon-fa-active 400ms;
}
header a .fa-times{
    margin-right: 5px;
    color: white;
    font-size: 2rem;
}
header a .fa-times:active{
    animation: icon-fa-active 400ms;
}
.ul{
    list-style: none;
    display: flex;
}
.ul a{
    color: white;
    text-decoration: none;
    margin-right: 30px;
    transition: 200ms;
}
.nav{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.socials{
    margin-left: 30px;
}
.socials .fa{
    color: white;
    font-size: 28px;
    margin-right: 12px;
    transition: 200ms;
}
ul a:hover,
.socials .fa:hover{
    color: #909090;
    transform: scale(1.1, 1.1);
}
/*MOBILE*/

.mobile{
    width: 100%;
    height: 100%;
}
.mobile .nav{
    position: absolute;
    top: 90px;
    right: 5px;
    height: 270px;
    width: 200px;
    background-color: #0e2031da;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000; 
}
.mobile .nav ul{
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.mobile .nav ul a{
    margin: 10px 0;
}
.mobile .nav ul a li{
    text-decoration: none;
}
.mobile .nav .socials{
    margin: 0;
}
.mobile .nav .socials a i{
    margin: 0 2px;
}