main{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content{
    width: 80%;
    margin: 0 auto;
}
.initial{
    width: 100%;
}
.calc{
    height: calc(100vh - 90px);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: relative;
}
.descrip{
    width: 100%;
    height: 100%;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: initial;
}
.descrip h1{
    margin-bottom: 15px;
    text-align: center;
    line-height: 42px;
    font-size: 40px;
    animation: text 1s ease-in;
}
.descrip p{
    color: #474747;
    animation: text-p 1s ease-in;
}
.my{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
}
.my img{
    width: 500px;
    height: 500px;
    animation: image 1s ease-in;

}


@keyframes text{
    from{
        transform:translateY(-50px);
        opacity: 0;
    }
    to{
        transform:translateY(0);
        opacity: 1;
    }
    
}
@keyframes text-p{
    from{
        transform:translateY(50px);
        opacity: 0;
    }
    to{
        transform:translateY(0);
        opacity: 1;
    }
    
}
@keyframes image{
    from{
        transform: translateX(100px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

