main{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#landing{
    width: 100%;
    background-color: #e2e2e2;
}
#landing .max{
    height: calc(100vh - 90px);
    max-height: 743px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: relative;
}
.descrip{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: initial;
    padding: 20px;
    color: #0e2031;
    position: relative;
    border-radius: 0 10px 10px 0;
    transition: 300ms;
}
.descrip:hover{
    background-color: #0e203111;
    box-shadow: 0 1px 2px #808080;
}
.descrip::before{
    content: "";
    height: 0;
    width: 3px;
    background-color: var(--dark-blue);
    position: absolute;
    left: 0;
    transition: 300ms ease-in-out;
}
.descrip:hover::before{
    height: 100%;
}
.descrip h1{
    margin-bottom: 15px;
    line-height: 42px;
    font-size: 40px;
    text-align: center;
}
.descrip p{
    color: #576369;
    margin-bottom: 20px;
}

.my-img{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    object-fit: cover;

}
.my-img img{
    max-width: 520px;
    max-height: 100%;
}

/*sobre*/

#sobre{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #eeeeee;
    position: relative;
}
#sobre .max{
    padding: 8% 0;
}
#sobre .about-me{
    width: 100%;
}

#sobre .about-header{
    margin-bottom: 50px;
}
#sobre .about-header h1{
    font-size: 2.5rem;
    position: relative;
    text-align: center;
}
#sobre .about-header h1::after{
    content: "";
    width: 40px;
    height: 4px;
    background-color: var(--dark-blue);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
#sobre .about-body{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#sobre .about-body .rc{
    width: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sobre .about-body .rc img{
    width: 100%;
    border-radius: 45%;
    border: 1px solid var(--dark-blue);
    border-bottom: 3px solid var(--dark-blue);
}
#sobre .about-body .text{
    width: 50%;
}
#sobre .about-body .text h2{
    font-weight: 600;
}
#sobre .about-body .text .small{
    font-size: .875rem;
    font-weight: 400;
    color: #3b4549;
}
#sobre .about-body .text p a{
    color: var(--dark-blue);
    text-decoration: none;
    font-weight: 500;
}
#sobre .about-body .text p a:hover{
    text-decoration: underline;
    color: #576369;
}
#sobre .about-body .text .socials{
    display: flex;
    margin: 0;
    margin-top: 50px;
}
#sobre .about-body .text .socials a{
    height: auto;
}
#sobre .about-body .text .socials a i{
    font-size: 1.5rem;
    color: var(--dark-blue);
}
/*FIM sobre*/

/*PORTIFOLIO*/
#portifolio{
    width: 100%;
    height: 100%;
}
#portifolio .max{
    margin-top: 90px;
    margin-bottom: 90px;
}
#portifolio .projects h1{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}
#portifolio .projects h1::after {
    content: "";
    width: 40px;
    height: 4px;
    background-color: var(--dark-blue);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
#portifolio .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#portifolio .card{
    width: 350px;
    min-width: 45%;
    margin: 10px;
    box-shadow: 0 1px 5px grey;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
#portifolio .card a::after{
    content: "Ver mais";
    color: white;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.356);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    transition: 300ms ease-in-out;
}
#portifolio .card a:hover::after{
    top: 100%;
    opacity: 0;
}
#portifolio .card img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/*FIM PORTIFOLIO*/


/*SERVICOS*/

#servicos{
    width: 100%;
    background-color: var(--white-smoke);
}
#servicos .max{
    padding: 8% 0;
}
#servicos .max h1{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}
#servicos .max h1::after{
    content: "";
    width: 130px;
    height: 3px;
    background-color: var(--dark-blue);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.types{
    display: flex;
    justify-content: center;
}
.type-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 10px;
    transition: 200ms;
    padding: 5% 0;
    text-align: center;
}
.type-box:hover{
    background-color: rgba(14, 32, 49, 0.1);
    box-shadow: 0 0 2px #575757;
    transform: scale(1.1, 1.1);
}
.type-box h4{
    font-size: 1.5rem;
    transition: 200ms;
    margin-bottom: 15px;
}
.type-box:hover h4,
.type-box:hover p{
    transform: translateY(10px);
}
.type-box h4 span{
    background-color: rgba(14, 32, 49, 0.5);
    border-radius: 10px;
    padding: 2px 5px;
    color: white;
    font-size: 1.5rem;
    box-shadow: 0 0 2px #575757;
}
.type-box p{
    transition: 200ms;
}
/*FIM SERVICOS*/

