@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*BASE*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    color: var(--secondColor);
}
ul{
    list-style-type: none;    
}
a{
    text-decoration: none;
    color: var(--secondColor);
}
img{
    width: 100%;
    height: auto;
}
::selection{
    color: #e7e7e7;
    background-color: var(--secondColor);
}
::-moz-selection{
    color: #e7e7e7;
    background-color: var(--secondColor);
}
/*CORES*/
:root{
    --firstColor: #4070F4;
    --secondColor: #0E2431;
    --thirdColor: #bebebe;
}
/*FONT*/
:root{
    --normalFont: 0.9rem;
    --bigFont: 2rem;
    --h2Font: 1.25rem;
}
/*BOT*/
.maxW{
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    background-color: var(--firstColor);
    font-size: var(--normalFont);
    font-weight: 600;
    width: 150px;
    height: 45px;
    transition: 200ms;
}
.btn:hover{
    background-color: #fff;
    border: 1px solid var(--firstColor);
    color: var(--firstColor);
    text-shadow: 0 0 1px var(--firstColor);
}

/*HEADER*/
    header{
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        background-color: #fff;
        z-index: 100;
        border-bottom: 1px solid rgba(122, 122, 122, 0.1);
    }
    nav.desktop{
        height: 85px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav.desktop ul{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    nav.desktop ul a{
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        position: relative;     
        transition: 300ms;
    }
    nav.desktop ul a:hover{
        color: var(--firstColor);
    }

    nav.desktop ul a::after{
        content: "";
        position: absolute;
        bottom: -10px;
        width: 0;
        height: 0;
        background-color: var(--firstColor);
        transition: 200ms;
    }
    nav.desktop ul a:hover::after{
        width: 100%;
        height: 2px;
    }
    nav.desktop ul a + a{
        margin-left: 40px;
    }
    
/*FIM HEADER*/

/*MAIN*/

    #container{
        width: 100%;
        height: auto;
    }
    #inicio{
        padding-top: 85px;
    }
    #inicio .maxW{
        height: 600px;
        display: flex;
    }
    #inicio .apresentation{
        width: 100%;
        display: flex;
    }
    #inicio .title{
        width: 100%;
        padding-top: 80px;
        font-size: var(--bigFont);
    }
    #inicio .title h1 {
        margin-bottom: 15px;
    }
    #inicio .title h1 span{
        color: var(--firstColor);
    }
    #inicio .rc{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-right: 15%;
    }
    #inicio .rc img{
        width: 120px;
    }
    #sobre{
        height: 100vh;
        padding-top: 85px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
/*FIM MAIN*/